body{
background-color:blue;
}
h1{
	text-align:center;
	font-size:3rem;
	color:red;
}
.container{
	width:40%;
	margin:5rem auto;
}
.todo{
	display:flex;
}
.todo input{
	flex:1;
	padding:10px;
}
button{
	background-color:green;
	color:white;
	border:1px solid green;
	cursor:pointer;
}
.list ul{
	margin:0;
	padding:0;
	list-style-type:none;
	margin-top:10px;
}
.list ul li{
	border:1px solid white;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.close{
	background-color:red;
	color:white;
	padding:10px;
	cursor:pointer;
}
.done{
	text-decoration:line-through;
}








